{% extends "expenses_app/base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block page_header %}
<h1>Analyse your expenses</h1>
{% endblock page_header %}

{% block content %}

 <div class='Char_analysis' id="container">
    <canvas id="doughnut-chart"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script>

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
          label: 'Total'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
        
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('doughnut-chart').getContext('2d');
      window.myDoughnut = new Chart(ctx, config);
    };

  </script>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      
      <strong class="d-inline-block mb-2 text-primary">Your total is:</strong>
      <h3 class="mb-0">€ {{ total_sum }}</a></h3>
     
    </div>
    
  </div>
  
  </div>

{% endblock content %}